@@ -1,10 +1,17 @@
@import "rouge-base16-dark";
@import "default_colors";

$body-background: $cod-grey !default;
$body-foreground: $cod-grey !default;
<!-- $body-foreground: $gallery !default; -->
$header: $conifer !default;
$blockquote-color: $silver-chalice !default;
$blockquote-border: $dove-grey !default;

body {
  margin: 0;
  padding: 0;
  background: #151515 url("../images/bkg.png") 0 0;
  <!-- color: #eaeaea; -->
  color: #c26767
  background: $body-background url("../images/bkg.png") 0 0;
  color: $body-foreground;
  font-size: 40px;
  line-height: 1.5;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
@@ -40,7 +47,7 @@ li {
header {
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  border-bottom: 1px dashed #b5e853;
  border-bottom: 1px dashed $conifer; //header;
  padding: 20px 0;
  margin: 0 0 40px 0;
}
@@ -51,7 +58,7 @@ header h1 {
  margin: 0 0 0 -40px;
  font-weight: bold;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: #b5e853;
  color: $conifer;//$header;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
               0 0 5px rgba(181, 232, 83, 0.1),
               0 0 10px rgba(181, 232, 83, 0.1);
@@ -90,7 +97,7 @@ section img {
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: #b5e853;
  color: $header;
  letter-spacing: -0.03em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
               0 0 5px rgba(181, 232, 83, 0.1),
@@ -136,9 +143,9 @@ ul li {
}

blockquote {
  color: #aaa;
  color: $blockquote-color;
  padding-left: 10px;
  border-left: 1px dotted #666;
  border-left: 1px dotted $blockquote-border;
}

pre {
